@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gochi+Hand&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



html,body {
    font-family: 'Poppins', sans-serif;
}

.theme-container {
    @apply max-w-screen-lg 3xl:max-w-7xl mx-auto px-5;
}

.block-span{
    @apply inline lg:block;
}

.prevent-pointer {
    pointer-events: none
}


.title-font {
    font-family: 'Bebas Neue', cursive;
}

.form-input {
    @apply bg-theme-black w-full focus:outline-none active:outline-none p-3 border border-transparent focus:border-theme-sky text-gray-100;
}

.form-button {
    @apply bg-theme-sky hover:bg-cyan-600 transition-all w-full focus:outline-none active:outline-none p-3 border border-transparent focus:border-theme-sky text-gray-100 inline-block;
}

::placeholder {
    @apply text-gray-600;
}

.test-link {
    @apply w-full h-4 relative inline-block bg-red-500;
}

.text-block {
    @apply opacity-0;
}

.b-dics__slider:before {
    @apply w-[20px] sm:w-[50px] h-[20px] sm:h-[50px];
}


.classic-can:after {
    content: "";
    @apply absolute w-[200%] h-[200%] bg-black top-0 right-[50%] -z-[1]
    /* border-bottom: 100vh solid #009CBC;
    border-left: 30vw solid transparent; */
}


.love-edition-can:after {
    content: "";
    @apply absolute w-[200%] h-[200%] bg-black top-0 left-[50%] -z-[1]
    /* border-bottom: 100vh solid #009CBC;
    border-left: 30vw solid transparent; */
}
